<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>雪妹测试页</title>
</head>
<body>
<h1>雪儿的测试页</h1>
<div style="background-color: #ffc7c7">
    <h2><a href="../course/courseTable.html" >查看课程</a></h2>
</div>
<div style="background-color: #8785a2">
    <h2><a href="../course/courseTypeTable.html" >查看课程类型</a></h2>
</div>
<div style="background-color: #ffe2e2">
     <h2><a href="../course/courseCodeTable.html">查看课程邀请码</a></h2>
</div>
<div style="background-color: #ffc7c7">
    <h2><a href="../course/courseInsert.html"</h2>
</div>
</body>
</html>