<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="jdbc.properties"/>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
<!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
    </settings>

    <typeAliases>
        <package name="nxu.entity"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"/>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/ActiveMapper.xml"/>
        <mapper resource="mapper/CommentMapper.xml"/>
        <mapper resource="mapper/CourseMapper.xml"/>
        <mapper resource="mapper/CourseCodeMapper.xml"/>
        <mapper resource="mapper/CourseTypeMapper.xml"/>
        <mapper resource="mapper/FileMapper.xml"/>
        <mapper resource="mapper/FileTypeMapper.xml"/>
        <mapper resource="mapper/HomeworkMapper.xml"/>
        <mapper resource="mapper/MessageMapper.xml"/>
        <mapper resource="mapper/NoticeMapper.xml"/>
        <mapper resource="mapper/OrderMapper.xml"/>
        <mapper resource="mapper/PointsMapper.xml"/>

        <mapper class="nxu.mapper.RoleMapper"/>
    </mappers>
</configuration>