<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nxu.mapper.CourseMapper">

    <insert id="insertCourse" parameterType="nxu.entity.Course">
        insert into `course`
        values(null, #{name}, #{courseType}, #{image}, #{info}, #{score}, #{state}, #{userId})
    </insert>

    <select id="getCourse" resultType="nxu.entity.Course" parameterType="map">
        select * from `course`
        <where>
            <if test="id !=null and id !=''">
                and id=#{id}
            </if>
            <if test=" courseType!=null and courseType!='' ">
                and course_type=#{courseType}
            </if>
            <if test="score!=null and score!=''">
                and score=#{score}
            </if>
            <if test="state!=null and state!=''">
                and state=#{state}
            </if>
            <if test=" name!=null and name!='' ">
                and name like CONCAT('%', #{name}, '%')
            </if>
        </where>
    </select>

    <update id="updateCourse" parameterType="map">
        update `course`
        <set>
            <if test="name!=null and name!=''">name=#{name},</if>
            <if test="image!=null and image!=''">image=#{image},</if>
            <if test="course_type!=null and course_type!=''">course_type=#{courseType},</if>
            <if test="info!=null and info!=''">info=#{info},</if>
            <if test="score!=null and score!=''">score=#{score},</if>
            <if test="state!=null and state!=''">state=#{state},</if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteCourse">
        delete from `course`
        where id=#{id}
    </delete>

    <select id="userCourse" resultType="nxu.entity.Course">
        select * from course c
        where c.id in
        (select o.course_id from ownership o
         where o.user_id=#{id})
    </select>

</mapper>