<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nxu.mapper.HomeworkMapper">

    <select id="getHomeworkById" resultType="nxu.entity.Homework">
        select * from `homework` where id = #{id}
    </select>

    <select id="getAllHomework" resultType="nxu.entity.Homework">
        select * from `homework`
        <where>
            <if test="courseId != null and courseId != ''">
                course_id = #{courseId}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="again != null and again != ''">
                and again = #{again}
            </if>
            <if test="create != null and create != ''">
                and substr(concat(`create`), 1, 10) = #{create}
            </if>
            <if test="dateline != null and dateline != ''">
                and substr(concat(`dateline`), 1, 10) = #{dateline}
            </if>
            <if test="title != null and title != ''">
                and title like CONCAT('%', #{title}, '%')
            </if>
        </where>
    </select>

    <insert id="insertHomework">
        insert into `homework` values (null, #{title}, #{info}, #{courseId}, #{userId}, NOW(), #{dateline}, #{again})
    </insert>

    <update id="updateHomework">
        update `homework`
        <set>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="info != null and info != ''">info = #{info},</if>
            <if test="dateline != null">dateline = #{dateline},</if>
            <if test="again != null and again != ''">again = #{again}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteHomeworkById">
        delete from `homework`
        <where>
            <foreach item="id" collection="idList" open="id in (" separator="," close=")" nullable="true">
                #{id}
            </foreach>
        </where>
    </delete>

</mapper>